<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Book</title>
<style>
    html {background: url(https://www.discoverlosangeles.com/sites/default/files/styles/hero/public/images/2019-03/Little%20Sheep%20Mongolian%20Hot%20Pot%20Pasadena.jpg?itok=C4OC7ald) no-repeat center center fixed;
        -webkit-background-size: cover;.,
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
    h1 {
        font-family: arial;
        background-color: #F7F5FB;
        font-size:300%;
        opacity: 0.75;
    }
</style>
</head>
<body>
<h1 align="center"><strong>My Recipe Book</strong></h1>

</body>
</html>